*~
*.dll
*.la
*.lo
*.o
.deps/
.libs/
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile.in
Makefile
missing
ode.pc
ode-config
stamp-h1
test-driver

# these need to be matched in specific directories
/m4/libtool.m4
/m4/lt*.m4
/drawstuff/dstest/dstest
/drawstuff/src/*.aps
/include/ode/precision.h
/include/ode/version.h
/libccd/src/ccd/precision.h
/ou/test/outest
/tests/tests/
/tests/tests.log
/tests/tests.trs
/tests/test-suite.log
/ode/doc/Doxyfile

# ignore all demo binaries, but not the sources
/ode/demo/demo_*
!/ode/demo/demo_*.c*
/ode/doc/html/

# ignore folders created by premake
/build/codeblocks
/build/codelite
/build/gmake
/build/vs2002
/build/vs2003
/build/vs2005
/build/vs2008
/build/vs2010

# ignore folder created during compilation
/lib/
